/*alarivi2 alkaa*/
.alarivi2 {
  display: flex;
  flex-direction: row;
}

.saldo2 {
  width: 100px;
  height: 100px;
  background-color: yellow;
  border-radius: 8px;
  margin-left: 30px;
}

.saldoteksti2 {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

.saldoluku2 {
  text-align: center;
  font-weight: bold;
}

.voitonmaksu {
  height:70px;
  width:100px;
  margin-left: 20%;
  margin-top: 20px;
  border-radius: 8px;
  background-color: rgb(242, 245, 38);
  font-weight: bold;
  border: 2px solid black;
}

.voitonmaksu:hover {
  cursor: pointer;
  height: 77px;
  width: 110px;
}

.tuplaus {
  height:70px;
  width:100px;
  margin-left: 50px;
  margin-top: 20px;
  border-radius: 8px;
  background-color: rgb(249, 166, 23);
  font-weight: bold;
  border: 2px solid black;
}

.tuplaus:hover {
  cursor: pointer;
  height: 77px;
  width: 110px;
}

.panos2 {
  height:70px;
  width:100px;
  margin-left: 6%;
  margin-top: 20px;
  border-radius: 8px;
  background-color: rgb(83, 202, 242);
  border: 2px solid black;
}

.panos2:hover {
  cursor: pointer;
  height: 77px;
  width: 110px;
}

.panosTeksti2 {
  text-align: center;
  font-weight: bold;
}

.panosLuku2 {
  text-align: center;
  font-weight: bold;
}

.jako2 {
  height:70px;
  width:100px;
  margin-left: 50px;
  margin-top: 20px;
  border-radius: 8px;
  background-color: rgb(20, 213, 20);
  font-weight: bold;
  border: 2px solid black;
}

.jako2:hover {
  cursor: pointer;
  height: 77px;
  width: 110px;
}

/*alarivi2 loppuu*/
